// 首页底部
.box .footer{
    overflow:hidden;background:#fff;height:368px;
    .warrant{
        overflow:hidden;margin:20px auto 45px auto;
        li{
            height:54px;padding:0 25px 0 82px;float:left;
            background:url('../img/warrant_icon.png') no-repeat 15px 0;
            b{
                display:block;line-height:22px;padding-top:5px;
                font-size:16px;color:#333;
            }
            i{
                display:block;line-height:18px;font-size:12px;
                color:#999;
            }
        }
        li + li{
            border-left:1px solid #d6d6d6;
        }
        .l2{background-position:15px -55px;}
        .l3{background-position:15px -110px;}
        .l4{background-position:15px -165px;}
        .l5{background-position:15px -220px;}
    }
    .links{
        overflow:hidden;margin-bottom:25px;
        .links-l{
            width:860px;padding-left:78px;overflow:hidden;
            dl{
                width:20%;float:left;overflow:hidden;
                dt{
                    font-size:16px;font-weight:bold;
                    line-height:30px;
                    a{color:#666;}
                    a:hover{color:#F60242;}
                }
                dd{
                    font-size:12px;color:#999;line-height:22px;
                    a{color:#999;}
                    a:hover{color:#F60242;}

                }
            }
        }
        .links-r{
            overflow:hidden;width:210px;padding-right:50px;
            .erweima{
                overflow:hidden;margin-bottom:10px;
                li{
                    width:79px;float:left;line-height:25px;
                    text-align:center;font-size:12px;
                    color:#666;font-weight:bold;
                    margin-right:26px;
                    img{width:79px;height:79px;}
                }
            }
            .links-tel{
                padding-left:35px;overflow:hidden;
                background:url('../img/login_tel.png') no-repeat;
                b{
                    line-height:26px;display:block;
                    font-size:20px;color:#666;
                    font-weight:bold;
                }
                i{
                    display:block;font-size:12px;
                    color:#999;line-height:14px;
                    margin-top:-3px;
                }
            }
        }
    }
    .copyright{
        background:#333;padding:10px 0;
        p{
            line-height:26px;color:#999;padding:0 5px;
            font-size:12px;
            a{color:#999;}
        }
    }
}


//头部

// 三角形占位符
%delta{
    width:0;height:0;
    border-right:6px solid #fff;
    border-bottom:6px solid #fff;
    border-left:6px solid transparent;
    border-top:6px solid transparent;
    position:absolute;top:-12px;right:20px;
}
html,body{width:100%;}
// 最小宽度
.box{min-width:1200px;}

// 右侧固定栏
.box .fixed{
    position:fixed;top:45%;right:0;width:60px;
    height:200px;z-index:250;
    li{
        margin-bottom:10px;
        a{
            display:block;height:60px;
            background:url('../img/icon_bg.png') no-repeat;
            position:relative;
            .app{
                text-align:center;display:none;
                position:absolute;top:0px;right:74px;
                z-index:1000;padding:14px 13px 0 13px;
                width:122px;height:164px;background:#fff;
                border:1px solid #e5e5e5;
                img{width:121px;height:121px;}
                em{font-size:16px;color:#333;line-height:44px;}
                i{
                    display:inline-block;width:11px;
                    height:14px;position:absolute;
                    top:30px;left:148px;
                    background:url('../img/li_right.png') no-repeat;
                }
            }
        }
        a:hover{background:url('../img/icon_bg2.png') no-repeat;}
        a:hover .app{display:block}
    }
    li:nth-child(2) a{
        background-position:left -70px;
    }
    li:nth-child(3) a{
        background-position:left -140px;
    }
}

// 首页头部
.box .header{
    // 顶部导航条
    height:204px;background:#fff;border-bottom:2px solid #F60242;
    .top-nav{
        height:32px;background:#E7E6E3;
        a{display:line-block;height:32px;line-height:32px;padding:0 10px;font-size:12px;color:#666560}
        a:hover{color:#F60242;text-decoration:underline;}
        .top-right{
            height:32px;
            li{
                float:left;position:relative;
                .icon_phone{display:inline-block;width:14px;height:18px;background:url('../img/sprits.png') no-repeat 0 0;position:absolute;top:9px;left:2px;}
                .icon_weixin{display:inline-block;width:18px;height:18px;background:url('../img/sprits.png') no-repeat -20px 0;position:absolute;top:9px;left:-10px;}
                // 二维码
                .show{
                    width:150px;background:#fff;position:
                    absolute;top:32px;left:-120px;border-top:none;
                    border:1px solid #ccc;border-top:0 none;
                    text-align:center;padding:10px 10px;z-index:200;
                    .delta{
                        // 继承
                        @extend %delta;
                    }
                    img{width:140px;}
                    p{font-size:18px;line-height:44px;}
                }
                .show_phone{height:180px;display:none;}
                .show_weixin{
                    display:none;
                    p{border-bottom:1px solid #E7E6E3;}
                    p:nth-of-type(2){border-bottom:0 none}
                }
            }
            li:nth-child(10) a{padding:0 18px;} 
            li:nth-child(11) a{padding:0 18px;}

            li:nth-child(4) a:hover{color:#666560;text-decoration:none;}
            li:nth-child(5) a:hover{color:#666560;text-decoration:none;}
            li:nth-child(7) a:hover{color:#666560;text-decoration:none;}
            .count,.coupon{color:#F60242;} 
            li:nth-child(9) a:hover{color:#666560;text-decoration:none;}
            .count,.coupon{color:#F60242;}
            .sign-out{
                a{color:#dc0f50;}
                i{font-size:12px;cursor:pointer;}
                i:hover{text-decoration:underline;color:#dc0f50;}
            }

        }
    }
    
    // 头部logo
    .logo{
        height:100px;background:#fff;padding-top:30px;
        .cont{
            background:#fff;height:100px;
        }
        .logo-l{width:350px;height:50px;}
        .logo-form{
            .input-group{
                width:500px;
                .keyword{
                    border:2px solid #F60242;width:390px;height:44px;
                    border-right:0 none;padding-left:10px;font-size:16px;
                }
                .btnSearch{
                    width:98px;height:48px;background:#F60242;color:#fff;
                    font-size:18px;
                }
                .btnSearch:hover{opacity:0.8;}
            }
            .choice{
                li{
                    float:left;
                }
                li a{
                    padding:0 8px;font-size:14px;line-height:44px;
                    color:#9A9791;
                }
                li a:hover{
                        color:#F60242;
                    }
                li:first-child a{color:#F60242;}
            }
        }
        .shopping-cart{
            width:90px;height:44px;border:1px solid #E7E6E3;
            margin-left:156px;position:relative;padding-left:30px;
            text-align:center;line-height:44px;font-size:14px;
            cursor:pointer;
            .cart-img{
                display:inline-block;width:26px;height:26px;
                background:url('../img/sprits.png') no-repeat -40px 0 ;
                position:absolute;top:10px;left:6px;
            }
            .goods-nums{
                display:block;width:18px;height:18px;background:#F60242;
                position:absolute;top:-9px;right:-9px;border-radius:50%;
                font-size:12px;line-height:18px;color:#fff;
            }
            .goods-list{
                position:relative;background:#fff;width:320px;height:400px;
                top:2px;left:-230px;border:1px solid #E7E6E3;z-index:200;
                display:none;
                .delta{
                    @extend %delta;
                    right:41px;
                }
                .ul-box{
                    li{
                        height:68px;border-bottom:1px solid #ccc;
                        padding:10px 10px 10px;text-align:left;
                        img{
                            width:50px;height:50px;float:left;
                            margin-right:10px;
                        }
                        .des{
                            line-height:16px;font-size:14px;

                        }
                    } 
                } 

                
            }
            .goods-list::before{
                content:'';display:block;width:0;height:0;
                border-right:8px solid #E7E6E3;
                border-bottom:6px solid #E7E6E3;
                border-left:6px solid transparent;
                border-top:6px solid transparent;
                position:absolute;top:-13px;right:40px;
            }
        }
    }
    .main-nav{
        height:42px;
        .cont{height:42px;}
        .nav1{
            display:inline-block;width:214px;height:42px;
            background:#323534;padding-left:20px;
            position:relative;margin-right:30px;
            .main-list{
                color:#fff;line-height:42px;
            }
            .nav2{
                width:232px;height:562px;background:#FFF;
                border:1px solid #E7E6E3;border-top:0 none;
                position:absolute;left:0px;top:44px;
                z-index:200;
                // display:none;
                li a{
                    display:block;font-size:14px;line-height:40px;
                    text-indent:20px;color:#323534;
                } 
                li a:hover{
                   background:#dc0f50;color:#fff;
                }
            }
        }
        .nav1.cur{
            background:#333 url(../img/nav_b_bg.jpg) no-repeat 203px center;
        }
        .nav-c{
            li{
                float:left;
                a{
                    display:inline-block;height:42px;color:#323534;
                    font-size:18px;line-height:42px;padding:0 20px;
                }
                a:hover{color:#F60242;}
            }
            li:first-child a{color:#F60242;}
        }
    }
}