// b的样式
%b{
    font-size:12px;color:#666;display:block;width:50px;
    float:left;
}
%p{
    height:40px;line-height:22px;margin-top:10px;font-size:12px;
    color:#666;
}
// 颜色的样式
%color{
    line-height:22px;padding:5px 0;overflow:hidden;
}
%color-b{
    display:block;width:62px;line-height:22px;font-size:12px;
    color:#666;float:left;
}
%color-span{
    display:block;float:left;;font-weight:bold;font-size:12px;
    color:#666;padding:0 10px;border:1px solid #d6d6d6;cursor:pointer;
    margin-right:15px;
}
%span-hover{border-color:#dc0f50;color:#dc0f50;}
%span-curr{border-color:#dc0f50;color:#dc0f50;}

// i的字体图片
%i{
    display:inline-block;width:20px;height:20px;float:left;
    background:url('../img/bg_zheng.png') no-repeat left top;
    background-size:20px auto;
}
.box .main{
    overflow:hidden;position:relative;
    .details{
        h2{
            height:40px;line-height:40px;padding:0 15px;
            a{cursor:pointer;color:#333;font-size:12px;}
        }
        .show{
            padding:29px;position:relative;overflow:hidden;
            border:1px solid #d6d6d6;margin-bottom:10px;
            .left{
                width:545px;overflow:hidden;height:512px;
                background:#fff;
                .img-list{
                    width:64px;float:left;height:464px;
                    // background:#ccc;
                    a{
                        display:block;height:9px;
                        background:url('../img/up_down.png') no-repeat center -21px;
                    }
                    a.down{
                        background-position:center -28px;
                    }
                    a.up:hover{
                        background-position:center top;
                    }
                    a.down:hover{
                        background-position:center -8px;
                    }
                    .img-box{
                        height:444px;position:relative;
                        overflow:hidden;
                        ul{
                            position:absolute;left:0;top:0;
                            li{
                                height:64px;
                                padding:5px 0;
                                cursor:pointer;
                                img{
                                    width:62px;
                                    height:62px;
                                    border:1px solid #fff;
                                }
                                img.curr{border-color:#dc0f50;}
                            }
                            // li:hover img{border-color:#dc0f50}
                        }
                    }
                }
                .small{
                    width:460px;float:right;position:relative;
                    img{width:460px;}
                    .zoom{
                        position: absolute;width:200px;height:200px;
                        border:1px solid #99C;opacity:0.5;
                        background-color:#99C;

                        // filter:alpha(Opacity=30);
                        display:none;
                    }
                }
                .big{
                    overflow:hidden;width:460px;height:460px;
                    border:1px solid #e5e5e5;position:absolute;
                    z-index:200;left:616px;top:28px;
                    display:none;
                    img{
                        position:absolute;top:0;left:0;
                    }
                    
                }
            }
            
            .content{
                width:550px;position:relative;
                h3{
                    color:#333;font-size:20px;height:54px;
                    line-height:30px;padding:7px 0;
                    border-bottom:1px solid #d6d6d6;
                }
                .msg{
                    padding:5px 0;
                    .price{
                        line-height:35px;position:relative;
                        b{
                            color:#dc0f50;font-size:30px;
                            margin-right:8px;
                        }
                        em{
                            display:block;color:#666;
                            font-size:18px;line-height:16px;
                            text-decoration:line-through;
                        }
                    }
                    .guid{
                        @extend %p;
                        b{@extend %b;}
                        span{padding-left:15px;}
                    }
                    .sale-count{
                        @extend %p;
                        b{@extend %b;}
                        span{padding-left:15px;}
                    }
                    .gift{
                        @extend %p;
                        overflow:hidden;margin:8px 0 12px 0;

                        b{@extend %b}
                        span{
                            border:1px solid #ef823f;
                            font-size:12px;padding:2px 5px;
                            margin-left:15px;color:#ef823f;
                            border-radius:3px;
                        }
                    }
                    .style{
                        overflow:hidden;
                        .goods-style{
                            .color{
                                @extend %color;
                                b{
                                    @extend %color-b;
                                }
                                span{
                                    @extend %color-span;
                                    
                                }
                                span:hover{
                                    @extend %span-hover;
                                    
                                }
                                span.curr{
                                    @extend %span-curr;
                                    
                                }
                            }
                            .size{
                                @extend .color;
                            }
                        }
                    }
                    .number{
                        @extend %p;
                        b{@extend %b;width:62px;}
                        
                        label{
                            display:inline-block;width:86px;
                            height:20px;background:red;
                            float:left;
                            border:1px solid #d6d5d3;
                            a{
                            display:block;width:15px;height:20px;
                            overflow:hidden;float:left;
                            text-indent:-999em;overflow:hidden;
                            background:url('../img/jia_jian.png') no-repeat;
                            }
                            a:nth-of-type(2){
                                background-position:0 -20px;
                            }
                            input{
                                width:44px;height:20px;padding:0 5px;
                                border-left:1px solid #d6d5d3;float:left;
                                text-align:center;line-height:20px;
                                color:#666;font-size:12px;
                                border-right:1px solid #d6d5d3;
                            }
                        }
                    }
                    .list{
                        line-height:19px;overflow:hidden;padding:7px 0 0 0;
                        span{
                            display:block;float:left;
                            font-size:14px;color:#333;margin:0 26px  8px 0;
                            height:20px;
                            i{@extend %i;}
                        }
                        span:nth-of-type(2) i{
                            @extend %i;
                            background:url('../img/bg_you.png') no-repeat left top;
                            background-size:20px auto;
                        }
                        span:nth-of-type(3) i{
                            @extend %i;
                            background:url('../img/bg_7.png') no-repeat left top;
                            background-size:20px auto;
                        }
                    }
                    .btn{
                        height:38px;overflow:hidden;
                        button{
                            height:38px;width:160px;color:#fff;
                            text-align:center;margin-right:10px;
                            font-size:16px;line-height:38px;
                        }
                        button:nth-of-type(1){
                            background:#fea829  20px center;
                        }
                        button:nth-of-type(2){
                            background:#dc0f50;
                        }
                        button:hover{opacity:0.8;}
                        span{
                            font-size:12px;line-height:38px;
                            color:#333;padding-left:4px;
                            i{
                                color:#c06;padding:5px;
                            }
                        }
                    }
                }
            }

        }
    }
}