.box .main{
    padding:60px 70px 30px 70px;overflow:hidden;width:1060px;
    // 遮罩
    .mask{
        position:fixed;top:50%;left:50%;background:#000;opacity:0.8;
        width:400px;height:160px;transform:translate(-50%,-50%);
        border-radius:20px;padding:20px; text-align:center;color:#fff;
       display:none;z-index:500;
        h3{
            line-height:40px;font-size:28px;
            margin-bottom:80px;
        }
        p{
            line-height:32px;
            a{
                color:#dc0f50;text-decoration:underline;
                line-height:32px;
            }
            span{color:red;}
        }

    }
    .main-left{
        width:448px;height:336px;padding:40px 0 0 0;overflow:hidden;
        margin-bottom:75px;
        img{width:448px;height:336px;}
    }
    .main-right{
        width:448px;height:376px;overflow:hidden;margin-bottom:75px;
        .login-title{
            height:40px;line-height:40px;overflow:hidden;
            a{
                display:block;width:50%;text-align:center;float:left;
                cursor:pointer;font-size:18px;color:#666;
                i{
                    display:inline-block;height:38px;
                }
            }
            a.curr i{
                    color:#dc0f50;border-bottom:2px solid #dc0f50;
                }
        }
        .login-content{
            margin-top:-1px;overflow:hidden;height:290px;
            border:1px solid #e5e5e5;padding:45px 0 0 70px;
            font{
                display:none;height:40px;padding:0 32px;
                line-height:38px;color:#e92d2f;
                background:url('../img/error_bg.png') no-repeat 9px 50%;
                font-size:12px;
            }
            ul li{
                overflow:hidden;height:40px;
                position:relative;margin-bottom:19px;
                i{
                    display:block;width:18px;height:18px;
                    background:url('../img/icon01.png') no-repeat;
                    position:absolute;top:11px;left:11px;
                }
                .i2{
                    background:url('../img/icon02.png') no-repeat;
                }
                input{
                    margin-right:16px;float:left;
                    height:28px;line-height:28px;
                    padding:5px 0 5px 60px;width:243px;
                    border:1px solid #d6d6d6;
                    font-size:14px;color:#666;
                }
                input.curr{
                    border-color:#e92d2f;
                }
                em{
                    width:20px;height:20px;display:none;
                    background:url('../img/correct_bg.png') no-repeat;
                    margin-top:10px;float:left;
                }
            }
            ul .li3{
                font-size:14px;margin-top:-14px;
                label{
                    color:#666;font-size:14px;
                    input{
                        width:13px;height:13px;border:none;
                        float:left;margin-top:5px;margin-right:5px;
                    }
                }
                a{
                    float:right;padding-right:70px;color:#666;
                    font-size:14px;
                }
                a:hover{color:#dc0f50;}
            }
            p{
                height:40px;line-height:40px;padding-right:70px;
                a{
                    display:block;background:#dc0f50;
                    color:#fff;font-size:18px;
                    text-align:center;cursor:pointer;
                }
                a:hover{
                    opacity:0.8;
                }
            }
        }
        .quick{
            padding-top:9px;height:326px;display:none;
        }
    }
}