@charset "UTF-8";
.box .main {
  height: 402px;
  width: 1040px;
  overflow: hidden;
  background: fff;
  padding: 80px;
}

.box .main .mask {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #000;
  opacity: 0.8;
  width: 400px;
  height: 160px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: #fff;
  display: none;
}

.box .main .mask h3 {
  line-height: 40px;
  font-size: 28px;
  margin-bottom: 80px;
}

.box .main .mask p {
  line-height: 32px;
}

.box .main .mask p a {
  color: #dc0f50;
  text-decoration: underline;
  line-height: 32px;
}

.box .main .mask p span {
  color: red;
}

.box .main .fl {
  width: 590px;
  overflow: hidden;
}

.box .main .fl .register li {
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
}

.box .main .fl .register li b {
  display: block;
  width: 80px;
  font-size: 14px;
  color: #666;
  float: left;
  text-align: right;
  margin-right: 12px;
}

.box .main .fl .register li b i {
  font-family: '宋体';
  color: #dc0f50;
  font-size: 14px;
  margin-right: 3px;
}

.box .main .fl .register li input {
  width: 263px;
  height: 20px;
  padding: 9px 20px;
  border: 1px solid #d6d6d6;
  color: #666;
  float: left;
  margin-right: 15px;
}

.box .main .fl .register li input.s {
  border-color: #e92d2f;
}

.box .main .fl .register li em {
  display: none;
  height: 20px;
  float: left;
  margin-top: 10px;
}

.box .main .fl .register li em.corr {
  width: 20px;
  background: url("../img/correct_bg.png") no-repeat;
}

.box .main .fl .register li em.error {
  font-size: 14px;
  color: #e92d2f;
  width: auto;
  padding-left: 22px;
  line-height: 14px;
  background: url("../img/error_bg.png") no-repeat;
}

.box .main .fl .register li:nth-child(2) .code {
  width: 138px;
}

.box .main .fl .register li:nth-child(2) .vcode {
  display: block;
  float: left;
  width: 108px;
  height: 38px;
  border: 1px solid #d6d6d6;
  margin-right: 15px;
  font-size: 18px;
  line-height: 38px;
  color: #333;
  text-align: center;
  cursor: pointer;
  letter-spacing: 8px;
}

.box .main .fl .register li:last-child .yanzhengma {
  width: 138px;
}

.box .main .fl .register li:last-child .btnGet {
  width: 110px;
  height: 40px;
  border: none;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #dc0f50;
  float: left;
  margin-right: 15px;
  cursor: pointer;
}

.box .main .fl p {
  overflow: hidden;
  margin-top: -15px;
  text-align: right;
  padding-right: 193px;
  line-height: 48px;
  color: #666;
  font-size: 14px;
  height: 48px;
  margin-bottom: 20px;
}

.box .main .fl p input {
  margin: 0 5px 0 0;
  position: relative;
  top: -1px;
}

.box .main .fl p a {
  display: inline;
  color: #666;
  font-size: 14px;
}

.box .main .fl p button {
  width: 305px;
  float: right;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #dc0f50;
}

.box .main .fl font {
  display: block;
  line-height: 20px;
  text-align: right;
  text-decoration: underline;
  padding-right: 193px;
}

.box .main .fl font a {
  color: #666;
  font-size: 16px;
}

.box .main .fl font a:hover {
  color: #c00;
}

.box .main .fr {
  width: 448px;
  height: 336px;
  overflow: hidden;
}
