.box .main .cart .cart-content h3 label, .box .main .cart .cart-content h3 .goods, .box .main .cart .cart-content h3 .price, .box .main .cart .cart-content h3 .number, .box .main .cart .cart-content h3 .sub-total, .box .main .cart .cart-content h3 .handle, .box .main .cart .cart-content .goodsList ul li label, .box .main .cart .cart-content .goodsList ul li div .style, .box .main .cart .cart-content .goodsList ul li div .ourprice, .box .main .cart .cart-content .goodsList ul li div .num, .box .main .cart .cart-content .goodsList ul li div .xiaoji {
  display: block;
  float: left;
  text-align: center;
}

.box .main .cart {
  padding: 0 30px;
  width: 1140px;
  overflow: hidden;
}

.box .main .cart .cart-title {
  height: 55px;
  line-height: 55px;
  font-size: 12px;
  color: #333;
}

.box .main .cart .cart-title i {
  display: block;
  width: 35px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  float: left;
  background: url("../img/h2_bg.png") no-repeat;
  padding-left: 5px;
  color: #fff;
  margin: 19px 8px 0 0;
}

.box .main .cart .cart-content {
  border: 1px solid #d5d5d5;
}

.box .main .cart .cart-content h3 {
  height: 46px;
  border-bottom: 1px solid #d5d5d5;
  background: #f1f1f1;
  line-height: 46px;
  font-size: 12px;
}

.box .main .cart .cart-content h3 label {
  width: 96px;
}

.box .main .cart .cart-content h3 label input {
  margin-right: 10px;
}

.box .main .cart .cart-content h3 .goods {
  width: 560px;
}

.box .main .cart .cart-content h3 .price {
  width: 125px;
}

.box .main .cart .cart-content h3 .number {
  width: 150px;
}

.box .main .cart .cart-content h3 .sub-total {
  width: 105px;
}

.box .main .cart .cart-content h3 .handle {
  width: 102px;
}

.box .main .cart .cart-content .goodsList {
  overflow: hidden;
}

.box .main .cart .cart-content .goodsList ul {
  overflow: hidden;
}

.box .main .cart .cart-content .goodsList ul li {
  padding: 20px 0;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #d5d5d5;
}

.box .main .cart .cart-content .goodsList ul li label {
  width: 64px;
}

.box .main .cart .cart-content .goodsList ul li div {
  cursor: pointer;
}

.box .main .cart .cart-content .goodsList ul li div img {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}

.box .main .cart .cart-content .goodsList ul li div p {
  width: 330px;
  float: left;
  line-height: 20px;
  margin-right: 30px;
  font-size: 12px;
  margin-top: 30px;
}

.box .main .cart .cart-content .goodsList ul li div .style {
  width: 66px;
}

.box .main .cart .cart-content .goodsList ul li div .ourprice {
  width: 80px;
  margin-top: 40px;
  margin-left: 48px;
}

.box .main .cart .cart-content .goodsList ul li div .num {
  width: 86px;
  padding-left: 30px;
  margin-top: 35px;
}

.box .main .cart .cart-content .goodsList ul li div .num label {
  background: #fff;
  border: 1px solid #cbcbcb;
  height: 24px;
  width: 85px;
  display: inline-block;
}

.box .main .cart .cart-content .goodsList ul li div .num label i {
  display: inline-block;
  width: 27px;
  height: 24px;
  line-height: 22px;
  float: left;
  text-align: center;
  font-size: 18px;
  color: #333;
}

.box .main .cart .cart-content .goodsList ul li div .num label input {
  width: 28px;
  float: left;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.box .main .cart .cart-content .goodsList ul li div .xiaoji {
  width: 50px;
  padding-left: 20px;
  margin-top: 40px;
  color: #dc0f50;
}

.box .main .cart .cart-content .goodsList ul li div span {
  padding-left: 40px;
  font-size: 14px;
  cursor: pointer;
}

.box .main .cart .cart-content .goodsList ul li div span:hover {
  color: #dc0f50;
}

.box .main .cart .cart-content .goodsList ul li div:hover .text {
  color: #dc0f50;
}

.box .main .cart .cart-content .goodsList ul li.bg {
  background: #FFFCE9;
}

.box .main .cart .goods-handle {
  background: #fff;
  margin-bottom: 20px;
  line-height: 52px;
  height: 52px;
  padding: 23px 0 23px 0;
  overflow: hidden;
}

.box .main .cart .goods-handle .buy span {
  color: #999;
  font-size: 18px;
  float: right;
  line-height: 68px;
}

.box .main .cart .goods-handle .buy span .tatol-nums {
  color: #dc0f50;
}

.box .main .cart .goods-handle .buy span b {
  padding-right: 50px;
}

.box .main .cart .goods-handle .buy span b .tatol-price {
  color: #dc0f50;
  font-size: 30px;
  font-weight: bold;
}

.box .main .cart .goods-handle .buy span a {
  display: inline-block;
  width: 120px;
  height: 55px;
  background: #dc0f50;
  color: #fff;
  text-align: center;
  line-height: 55px;
}

.box .main .cart .goods-handle .buy span a:hover {
  opacity: 0.8;
}

.box .main .cart .goods-handle label {
  margin-right: 20px;
}

.box .main .cart .goods-handle a {
  cursor: pointer;
}

.box .main .cart .goods-handle a:hover {
  color: #dc0f50;
}
